# For the web server API
fastapi
uvicorn[standard]
python-multipart
gunicorn  

# For AI and image processing
opencv-python
numpy

# For OCR
pytesseract
Pillow

# For managing environment variables
python-dotenv